* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Tiempos';
    src: url('assets/fonts/Tiempos-Headline.otf') format('opentype');
}


body {
    font-family: 'Tiempos';
    
}
/* sm ≥576px */
@media (min-width: 576px) { 

}

/* md ≥768px */
@media (min-width: 768px) { 

}
/* lg ≥992px */
@media (min-width: 992px) { 

}
/* xl ≥1200px */
@media (min-width: 1200px) { 

    html, body {
        background-color: #f0f0f0;
        color: #333;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        
    }

    body {
        background-image: url('assets/quiz-bg-gif.gif'); 
        background-size: cover; 
        background-position: center center; 
        background-repeat: no-repeat;
        background-attachment: fixed; 

    }
    .whole-content {
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        
    }

    .quiz-container {
        width: auto;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        flex: 1;

        
    }
    
    .content-box {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;

        position: relative;

    }
    /*LEFT SIDE OF CARD */
    .project-info {
        width: 50%;
        height: 100%;
        padding: 5%;
        flex: 1;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        z-index: 1;
        border-right: 2px solid black;

        
    }

    .heading-text-box {
        position: absolute;
        padding: 1.5%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        background-color: black;
        color: white;

        border: 1px solid black;
        
    }

    .description-box {
        height: 80%;
        width: 100%;
        font-size: 10px;
        color: white;
    }

    /*RIGHT SIDE OF CARD*/
    #topic-container {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.432);
        margin: auto;
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    #topic-list {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 100%;
        width: 50%;
        padding: 5%;
        text-align: center;

    }


    .option {
        border-radius: 10px;
    }

    .option input[type='radio'] {
        display: none;
        /* Hide the radio button */
    }

    .option label {
        display: block;
        padding: 10px 20px;
        background-color: #eeeeee;
        border-radius: 5px;
        margin: 5px 0;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .option label:hover {
        background-color: #c9c9c9;
    }
 
    .option input[type='radio']:checked + label {
        background-color: #818181;
        color: #fff;
    }

    #heading-text {
        text-align: center;
    }

    .btn {
        background-color: #000000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        display: block;
        margin: 20px auto;

        font-family: 'Tiempos';
    }

    .btn:hover {
        background-color: #ffffff;
        color: black;

    }

    .follow {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20%;
        width: 45%;

        margin-top: 7%;

        position: relative;
    }

    .follow-header {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 125%);
        z-index: 2;
        
        padding: 1.5%;

        color: white;
    }


    .insta-logo, .twitter-logo, .github-logo {
        position: relative;
        width: 50px;
        height: 50px;
    }

    .twitter-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .git-hub-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
    }

    .insta-link {
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;

        z-index: 2;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;

        transition: filter 0.3s ease;
    }
    .git-hub-link:hover, .insta-link:hover, .twitter-link:hover {
        cursor: pointer;
        
        filter: blur(3px);
    }

    .insta-link {
        background-image: url('assets/icons/instagram-glyph-seeklogo.png');
    }

    .twitter-link {
        background-image: url('assets/icons/twitter-logo.png');
    }
    .git-hub-link {
        background-image: url('assets/icons/github-mark.png');
    }
}

/* xxl ≥1400px (BS5) */
@media (min-width: 1400px) {

}