* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Recommended for consistent box model behavior */
}


/* sm ≥576px */
@media (min-width: 576px) { 

}

/* md ≥768px */
@media (min-width: 768px) { 

}
/* lg ≥992px */
@media (min-width: 992px) { 

}
/* xl ≥1200px */
@media (min-width: 1200px) { 
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        color: #333;
        line-height: 1.6;
        padding: 20px;
    }

    #topic-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        width: 50%;
    }

    #topic-list {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #question-form {
        padding: 20px;
    }

    .option {
        border-radius: 10px;
    }

    .option input[type='radio'] {
        display: none;
        /* Hide the radio button */
    }

    .option label {
        display: block;
        padding: 10px 20px;
        background-color: #eeeeee;
        border-radius: 5px;
        margin: 5px 0;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .option label:hover {
        background-color: #c9c9c9;
    }
 
    .option input[type='radio']:checked + label {
        background-color: #818181;
        color: #fff;
    }

    #heading-text {
        text-align: center;
    }

    .btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        display: block;
        margin: 20px auto;
    }
 
    .btn:hover {
        background-color: #0056b3;
    }
}

/* xxl ≥1400px (BS5) */
@media (min-width: 1400px) {

}