.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    place-items: center;
    gap: 10px; 
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;

}

.grid-container div {
    transition: transform 0.2s ease-in-out;
    text-align: center;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width:100%;
}

.grid-container div:hover {
    transform: scale(1.1);
}

.grid-container div h1 {
    font-size: xx-small;
}
.grid-item.selected {
    background-color: #a0d9b4; /* Highlight color for selected items */
    border-color: #4CAF50;
}


.grid-box-1 {
    background-image: url(assets/icons/basketball.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-2 {
    background-image: url(assets/icons/music.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-3 {
    background-image: url(assets/icons/coding.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-4 {
    background-image: url(assets/icons/cooking.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-5 {
    background-image: url(assets/icons/console.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-6 {
    background-image: url(assets/icons/movie.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-7 {
    background-image: url(assets/icons/open-book.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-8 {
    background-image: url(assets/icons/dna.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-9 {
    background-image: url(assets/icons/football.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-10 {
    background-image: url(assets/icons/paint-palette.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-11 {
    background-image: url(assets/icons/galaxy.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-12 {
    background-image: url(assets/icons/graph.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-13 {
    background-image: url(assets/icons/volcano.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-14 {
    background-image: url(assets/icons/writing.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-15 {
    background-image: url(assets/icons/function.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}
.grid-box-16 {
    background-image: url(assets/icons/american-football.png);
    background-size: calc(100% - 20px) calc(100% - 20px);
    background-position: center; 
    background-repeat: no-repeat;
}