.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    place-items: center;
    gap: 10px; 
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;

}

.grid-container div {
    transition: transform 0.2s ease-in-out;
    text-align: center;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width:100%;
}

.grid-container div:hover {
    transform: scale(1.1);
}

.grid-container div h1 {
    font-size: xx-small;
}
.grid-item.selected {
    background-color: #a0d9b4; /* Highlight color for selected items */
    border-color: #4CAF50;
}