.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    place-items: center;
    gap: 10px; 
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.grid-box {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    width: 75%;
}

.grid-item.selected {
    background-color: #a0d9b4; /* Highlight color for selected items */
    border-color: #4CAF50;
}