* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Recommended for consistent box model behavior */
}


@font-face {
    font-family: 'Tiempos';
    src: url('assets/fonts/Tiempos-Headline.otf') format('opentype');
}


body {
    font-family: 'Tiempos';
    
}
/* sm ≥576px */
@media (min-width: 576px) { 

}

/* md ≥768px */
@media (min-width: 768px) { 

}
/* lg ≥992px */
@media (min-width: 992px) { 

}
/* xl ≥1200px */
@media (min-width: 1200px) { 
    .main-content {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: row;
    }

    .project-card {
        flex: 1;
        height: 100%;
        opacity: 0;
        transform: translateX(-50px);
        animation: slideIn 0.7s ease-out forwards;
        padding: 2%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        box-sizing: border-box;
    }

    .card-1 {
        background-color: black;
        color: white;
        animation-delay: 0s;
    }

    .card-2 {
        background-color: rgb(128,128,128);
        animation-delay: 0.2s;
    }

    .card-3 {
        background-color: white;
        animation-delay: 0.4s;
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .project-header {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .img-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-img {
        width: 100px;
        height: 100px;
        background-color: blue;
        margin-top: 5%;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-grow: 1;
    }

    .difficulty {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10%;
    }

    .areas-of-focus {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .focus-box:nth-child(2) {
        background-color: blue;
    }

    .focus-box:nth-child(3) {
        background-color: orange;
    }

    .project-steps {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20%;
    }

    .project-step-text {
        padding-bottom: 1%;
    }

    .select {
        transition: transform 0.7s ease;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 15%;
        left: 2%;
        background-color: red;
        background-image: url('assets/icons/plus.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;

    }

    .select:hover {
        cursor: pointer;

    }
    
    .select.rotated {
    transform: rotate(45deg);
    }

    .continue-btn {
        display: none;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .continue-btn-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* xxl ≥1400px (BS5) */
@media (min-width: 1400px) {

}