* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Recommended for consistent box model behavior */
}


/* sm ≥576px */
@media (min-width: 576px) { 

}

/* md ≥768px */
@media (min-width: 768px) { 

}
/* lg ≥992px */
@media (min-width: 992px) { 

}
/* xl ≥1200px */
@media (min-width: 1200px) {
    div {
        border: 1px solid black;
    }
    .content-parent {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .main-content {
        display: flex;
        flex-direction: column;

    }

    .bottom-cont {
        display: flex;
        flex-direction: row;
    }

    .top-center {
        width: 200px;
        height: 200px;
    }

    .bottom-center {
        width: 200px;
        height: 200px;
    }


    .gif-example {
        width: 100%;
        height: 100%;
        background-image: url('assets/lets-build-center.gif');
        background-size: cover;   /* or contain */
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges; /* Firefox specific */
        image-rendering: -webkit-optimize-contrast;
    }
        .drop-down-positon {
        position: absolute;
        top: 20px;
        left: 20px;
        
    }

    .dropdown-content {
        position: absolute;
        display: none;
        flex-direction: column;
        left: 0;
        
        transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: translateY(-20px);

    }

    .dropdown-content.show {
        opacity: 1;
        transform: translateY(0);
    }

    .dropdown-content button {
        all: unset;
        white-space: nowrap;
        width: 100%;
        text-align: left;
        border: none;
        font-family: 'Tiempos';

    }

    .icon {
        width: 35px;
        height: 35px;
        background-image: url('assets/icons/drop-down.png');
        background-size: cover;   /* or contain */
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        transition: transform 0.3s ease; 
    }

    .icon.rotated {
        transform: rotate(180deg);
    }
}

/* xxl ≥1400px (BS5) */
@media (min-width: 1400px) {

}