<form hx-post="{% url 'get-questions-next' %}">
  {% csrf_token %}
  <input type="hidden" name="quiz_id" value="{{ answer.question.quiz_id }}" />
 
  <p>The question:</p>
  <p>{{ answer.question.text }}</p>
 
  <div>
    Your answer:
    <p>{{ submitted_answer.text }}</p>
  </div>
 
  <div>
    {% if submitted_answer.is_correct %}
    <div>
      <p>Correct ✅</p>
    </div>
    {% else %}
    <div>
      <p>Incorrect ❌</p>
      <p>The correct answer is:</p>
      <p>{{ answer.text }}</p>
    </div>
    {% endif %}
  </div>
 
  <button class="btn">Next question</button>
</form>
Create a file finish.html in the partials folder, containing:
<div>
  <p>Quiz complete. You scored {{ percent_score }}%</p>
  <p>({{ score }} correct / {{ questions_count }} questions)</p>
 
  <a class="btn" href="{% url 'quiz' %}"> Start another quiz </a>
</div>
Create a file question.html in the partials folder, containing:
<div>
  <form id="question-form" hx-post="{% url 'get-answer' %}">
    {% csrf_token %}
 
    <h2 id="heading-text">{{ question.text }}</h2>
 
    <ol style="list-style-type: none;">
      {% for answer in answers %}
      <li class="option">
        <input
          type="radio"
          id="answer-{{ forloop.counter0 }}"
          value="{{ answer.id }}"
          name="answer_id"
          required
        />
        <label for="answer-{{ forloop.counter0 }}">{{ answer.text }}</label>
      </li>
      {% endfor %}
    </ol>
 
    <button class="btn" type="submit">Submit your answer</button>
  </form>
</div>
 
<script>
  window.onbeforeunload = function () {
    return 'Are you sure you want to leave? You will lose your progress.'
  }
</script>