<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>

    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>

<div class="main-content">
    {% for project in projects %}
        <div class="project-card">
            <div class="project-header">
                <h3>{{ project.project_name}}</h3>
            </div>
            
            <div class="project-steps">
                
                {% for steps in project.list_of_steps %}
                    
                    <h4>{{ steps }}</h4>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <!--<a href="{% url 'user-logout' %}">logout</a> -->

</div>
</body>
</html>