<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'project-dashboard.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <div class="gif-example"

    <div class="project">
        <div class="project-name-box">
            <h1>{{ chosen.project_name }}</h1>
        </div>

        <div class="difficulty-box">
            <h1>{{ chosen.difficulty }}</h1>
        </div>

        <div class="areas-of-focus-box">
            <h1>{{ chosen.areas_of_focus }}</h1>
        </div>

        <div class="list-of-steps-box">
            <ul id="todo-list"></ul>
            {% for steps in chosen.list_of_steps %}
                <li data-index="{{ forloop.counter0 }}">
                    <input type="checkbox" id="task1">
                    <label for="task1">{{ steps }}</label>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="drop-down-positon">
        <div class="option-drop-down">
            <div class="icon" onclick="toggleMenu()">
            </div>
            <div class="dropdown-content" data-save-url="{% url 'rec-view' %}" onsubmit="showLoading()">
                <form method="post" action="{% url 'rec-view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="regenerate" value="1">
                    <button type="submit">Re-Generate Projects</button>
                </form>

                <form method="post" action="{% url 'quiz' %}">
                    {% csrf_token %}
                    <input type="hidden" name="retake-quiz" value="1">
                    <button type="submit">Retake Quiz</button>
                </form>

                <form method="post" action="{% url 'user-logout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="retake-quiz" value="1">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

<script src="{% static 'project-select.js' %}" defer></script> 
</body>
</html>