<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'grid-selection.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interests</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<form id="interests-form" hx-post="{% url 'save-interests' %}">
    {% csrf_token %}
        <div class="content-container">
            <div class="header">
                <h1>Please Select Up to Five Interests</h1>
            </div>
            <div class="grid-container">
                <div class="grid-box-1" data-id="box-1">
                    
                </div>
                <div class="grid-box-2" data-id="box-2">
                    
                </div>
                <div class="grid-box-3" data-id="box-3">
                    
                </div>
                <div class="grid-box-4" data-id="box-4">
                    
                </div>
                <div class="grid-box-5" data-id="box-5">
                    
                </div>
                <div class="grid-box-6" data-id="box-6">
                    
                </div>
                <div class="grid-box-7" data-id="box-7">
                    
                </div>
                <div class="grid-box-8" data-id="box-8">
                    
                </div>
                <div class="grid-box-9" data-id="box-9">
                    
                </div>
                <div class="grid-box-10" data-id="box-10">

                </div>
                <div class="grid-box-11" data-id="box-11">
                    
                </div>
                <div class="grid-box-12" data-id="box-12">

                </div>
                <div class="grid-box-13" data-id="box-13">

                </div>
                <div class="grid-box-14" data-id="box-14">

                </div>
                <div class="grid-box-15" data-id="box-15">

                </div>
                <div class="grid-box-16" data-id="box-16">

                </div>
                <div class="grid-box-17" data-id="box-17">

                </div>
                <div class="grid-box-18" data-id="box-18">

                </div>
                <div class="grid-box-19" data-id="box-19">

                </div>
                <div class="grid-box-20" data-id="box-20">

                </div>
                <div class="grid-box-21" data-id="box-21">

                </div>
                <div class="grid-box-22" data-id="box-22">

                </div>
                <div class="grid-box-23" data-id="box-23">

                </div>
                <div class="grid-box-24" data-id="box-24">

                </div>
                <div class="grid-box-25" data-id="box-25">

                </div>
            </div>
        </div>
    <input type="hidden" id="interests-input" name="interests_csv" value="">
    <button class="btn" type="submit">Finish</button>
    <script src="{% static 'interactivity.js' %}"></script>
</form>
</body>
</html>