<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'grid-selection.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interests</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<form id="interests-form" action="{% url 'save-interests' %}" method="post">
    {% csrf_token %}
        <div class="content-container">
            <div class="header">
                <h1>Please Select Up to Five Interests</h1>
            </div>
            <div class="grid-container">
                <div class="grid-box-1" data-id="basketball">
                    
                </div>
                <div class="grid-box-2" data-id="music">
                    
                </div>
                <div class="grid-box-3" data-id="coding">
                    
                </div>
                <div class="grid-box-4" data-id="cooking">
                    
                </div>
                <div class="grid-box-5" data-id="gaming">
                    
                </div>
                <div class="grid-box-6" data-id="movies">
                    
                </div>
                <div class="grid-box-7" data-id="reading">
                    
                </div>
                <div class="grid-box-8" data-id="biology">
                    
                </div>
                <div class="grid-box-9" data-id="soccer">
                    
                </div>
                <div class="grid-box-10" data-id="painting">

                </div>
                <div class="grid-box-11" data-id="astronomy">
                    
                </div>
                <div class="grid-box-12" data-id="stock-market">

                </div>
                <div class="grid-box-13" data-id="geology">

                </div>
                <div class="grid-box-14" data-id="creative-writing">

                </div>
                <div class="grid-box-15" data-id="math">

                </div>
                <div class="grid-box-16" data-id="football">

                </div>
                <div class="grid-box-17" data-id="business">

                </div>
                <div class="grid-box-18" data-id="cars">

                </div>
                <div class="grid-box-19" data-id="cyber-security">

                </div>
                <div class="grid-box-20" data-id="data-analysis">

                </div>
                <div class="grid-box-21" data-id="social-media">

                </div>
                <div class="grid-box-22" data-id="hardware">

                </div>
                <div class="grid-box-23" data-id="drama">

                </div>
                <div class="grid-box-24" data-id="weight-lifting">

                </div>
                <div class="grid-box-25" data-id="travel">

                </div>
            </div>
        </div>
    <input type="hidden" id="interests-input" name="interests_csv" value="">
    <button class="btn" type="submit">Finish</button>
</form>
</body>
</html>