<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'grid-selection.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interests</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-box" data-id="box-1">
            
        </div>
        <div class="grid-box" data-id="box-2">
            
        </div>
        <div class="grid-box" data-id="box-3">
            <h1>Stock Trading</h1>
        </div>
        <div class="grid-box" data-id="box-4">
            <h1>Video Games</h1>
        </div>
        <div class="grid-box" data-id="box-5">
            <h1>Movies</h1>
        </div>
        <div class="grid-box" data-id="box-6">
            <h1>Cooking</h1>
        </div>
        <div class="grid-box" data-id="box-7">
            <h1>Programming</h1>
        </div>
        <div class="grid-box" data-id="box-8">
            <h1>Chess</h1>
        </div>
        <div class="grid-box" data-id="box-9">
            <h1>Reading</h1>
        </div>
        <div class="grid-box" data-id="box-10">
            <h1>Illustration</h1>
        </div>
        <div class="grid-box" data-id="box-11">
            
        </div>
        <div class="grid-box" data-id="box-12">

        </div>
        <div class="grid-box" data-id="box-13">

        </div>
        <div class="grid-box" data-id="box-14">

        </div>
        <div class="grid-box" data-id="box-15">

        </div>
        <div class="grid-box" data-id="box-16">

        </div>
        <div class="grid-box" data-id="box-17">

        </div>
        <div class="grid-box" data-id="box-18">

        </div>
        <div class="grid-box" data-id="box-19">

        </div>
        <div class="grid-box" data-id="box-20">

        </div>
        <div class="grid-box" data-id="box-21">

        </div>
        <div class="grid-box" data-id="box-22">

        </div>
        <div class="grid-box" data-id="box-23">

        </div>
        <div class="grid-box" data-id="box-24">

        </div>
        <div class="grid-box" data-id="box-25">

        </div>
    </div>
</body>
</html>