<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'question-form.css' %}">
</head>
<body>
  
<form id="question-form" hx-post="{% url 'get-answer' %}">
    <div class="question-content"></div>
    {% csrf_token %}
    
    <h2 id="heading-text">{{ question.text }}</h2>
    
    <ol style="list-style-type: none;">
      {% for answer in answers %}
      <li class="option">
        <input
          type="radio"
          id="answer-{{ forloop.counter0 }}"
          value="{{ answer.id }}"
          name="answer_id"
          required
        />
        <label for="answer-{{ forloop.counter0 }}">{{ answer.text }}</label>
      </li>
      {% endfor %}
    </ol>

    <button class="btn" type="submit">Submit your answer</button>
    </div>
</form>


<script>
  window.onbeforeunload = function () {
    return 'Are you sure you want to leave? You will lose your progress.'
  }
</script>
</body>
</html>