<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <title>Start your quiz</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'grid-selection.css' %}">
    <script
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"
    ></script>
</head> 
<body>
    <form id="topic-container" hx-post="{% url 'get-questions' %}">
        {% csrf_token %}
        <h2 id="heading-text">Tell Us About Yourself</h2>
        <div id="topic-list">
        <p>Please select the quiz below to begin your aptitude assessment</p>

        <ol style="list-style-type: none;">
        {% for topic in topics %}
        <li class="option">
            <input
                type="radio"
                id="topic-{{ forloop.counter0 }}"
                value="{{ topic.id }}"
                name="quiz_id"
                required
            />
            <label for="topic-{{ forloop.counter0 }}">{{ topic.name }} ({{ topic.questions_count }} questions)</label>
            </li>
            {% endfor %} {% if not topics %}
            <li>

            </li>
            {% endif %}
        </ol>

            <button class="btn" type="submit">Start your quiz</button>
        </div>
    </form>
</body>
</html>