<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <title>Start your quiz</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'grid-selection.css' %}">
    
    <script
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"
    ></script>

    <script src="{% static 'interactivity.js' %}" defer></script>
</head> 
<body>
    <div class="quiz-container">
        <form id="topic-container" hx-post="{% url 'get-questions' %}">
            <div class="content-box">
                
                <div class="project-info">
                    {% csrf_token %}
                    <h2 id="heading-text">Tell Us About Yourself</h2>
                    <h3 id="description">
                        Lets Build is the first ever software development companion that puts human learning at the 
                        forefront of its stated mission. After the completion of this assessment our highly sophisticated
                        LLM will know exactly what you'll want to build (even before you know it yourself) and put you on
                        the right path to learning through experience.
                    </h3>

                </div>

                <div id="topic-list">
                <p>Please select the quiz below to begin your aptitude assessment</p>

                <ol style="list-style-type: none;">
                {% if topics and topics|length == 1 %}
                    <input type="hidden" name="quiz_id" value="{{ topics.0.id }}">
                    <p>Starting: {{ topics.0.name }} ({{ topics.0.questions_count }} questions)</p>
                {% else %}
                    <ol style="list-style-type: none;">
                        {% for topic in topics %}
                        <li class="option">
                            <input
                                type="radio"
                                id="topic-{{ forloop.counter0 }}"
                                value="{{ topic.id }}"
                                name="quiz_id"
                                required
                            />
                            <label for="topic-{{ forloop.counter0 }}">{{ topic.name }} ({{ topic.questions_count }} questions)</label>
                        </li>
                        {% endfor %}
                </ol>
            {% endif %}

                </ol>

                    <button class="btn" type="submit">Start your quiz</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>