<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <title>Start your quiz</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'grid-selection.css' %}">
    <link rel="stylesheet" href="{% static 'question-form.css'}">
    <script
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"
    ></script>
    <script src="{% static 'interactivity.js' %}" defer></script>
</head> 
<body>
    <div class="whole-content">
        <div class="quiz-container">
            <form id="topic-container" hx-post="{% url 'get-questions' %}">
                <div class="content-box">

                    <div class="project-info">
                        {% csrf_token %}
                        
                        <h3 id="description">
                            Lets Build is the first ever software development companion that puts human learning at the 
                            forefront of its stated mission. After the completion of this assessment our highly sophisticated
                            LLM will know exactly what you'll want to build (even before you know it yourself) and put you on
                            the right path to learning through experience.
                        </h3>
                        

                    </div>

                    <div class="heading-text-box">
                        
                        <h2 id="heading-text">Tell Us About Yourself</h2>
                        
                    </div>

                    <div id="topic-list">
                    <p>Please select the quiz below to begin your aptitude assessment</p>

                    <ol style="list-style-type: none;">
                    {% if topics and topics|length == 1 %}
                        <input type="hidden" name="quiz_id" value="{{ topics.0.id }}">
                        
                    {% else %}
                        <ol style="list-style-type: none;" class="question_box">
                            {% for topic in topics %}
                            <li class="option">
                                <input
                                    type="radio"
                                    id="topic-{{ forloop.counter0 }}"
                                    value="{{ topic.id }}"
                                    name="quiz_id"
                                    required
                                />
                                <label for="topic-{{ forloop.counter0 }}">{{ topic.name }} ({{ topic.questions_count }} questions)</label>
                            </li>
                            {% endfor %}
                    </ol>
                {% endif %}

                    </ol>



                        <button class="btn" type="submit">Start your quiz</button>
                    </div>

                    <div class="follow-header">
                        <h2>follow this project</h2>
                    </div>


                </div>
                
            </form>
            
            <div class="follow">

                <div class="github-logo">
                    <a href="https://github.com/GartholomewIII/lets-build.git">
                        <span class="git-hub-link"></span>
                    </a>
                </div>

                <div class="insta-logo">
                    <a href="https://www.instagram.com/garth_____/">
                        <span class="insta-link"></span>
                    </a>
                </div>

                <div class="twitter-logo">
                    <a href="https://x.com/GigaWttz">
                        <span class="twitter-link"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>