<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>Register</h1>

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ registerform.as_p }}
        <button type="submit">Create account</button>
    </form>
</body>
</html>