* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Recommended for consistent box model behavior */
}


/* sm ≥576px */
@media (min-width: 576px) { 
    /*-----LOGIN-----*/


    /*-----REGISTER-----*/


    /*-----PERSONALITY-FORM-----*/


    /*-----PROJECT-HOME-----*/


    /*-----SOCIAL-----*/
}

/* md ≥768px */
@media (min-width: 768px) { 
    /*-----LOGIN-----*/


    /*-----REGISTER-----*/


    /*-----PERSONALITY-FORM-----*/


    /*-----PROJECT-HOME-----*/


    /*-----SOCIAL-----*/
}

/* lg ≥992px */
@media (min-width: 992px) { 

    /*-----LOGIN-----*/


    /*-----REGISTER-----*/


    /*-----PERSONALITY-FORM-----*/


    /*-----PROJECT-HOME-----*/


    /*-----SOCIAL-----*/
}

/* xl ≥1200px */
@media (min-width: 1200px) { 
    /*-----LOGIN-----*/


    /*-----REGISTER-----*/


    /*-----PERSONALITY-FORM-----*/


    /*-----PROJECT-HOME-----*/


    /*-----SOCIAL-----*/
}

/* xxl ≥1400px (BS5) */
@media (min-width: 1400px) {
    /*-----LOGIN-----*/


    /*-----REGISTER-----*/


    /*-----PERSONALITY-FORM-----*/


    /*-----PROJECT-HOME-----*/


    /*-----SOCIAL-----*/
}
